.root-layout {
  text-align: center;
  &-head {
    height: 50px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
    &-logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .title {
        margin: 0;
        padding: 0;
        font-size: 20px;
        margin-left: 5px;
      }
    }
  }
  &-section {
    border: 1px solid #ccc;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
  }
}
